---
title: "ABout section"
---

<astro> 
    <head>
        <title>
            about
        </title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>This is about sectionn</h1>
        Hello astro from about
    </body>
</astro>
