---
title: "My Astro Page"
---

<astro>
	<head>
		<title>{"Welcome to astro"}</title>
	</head>

	<body>
		<h1>Welcome to my Astro Page!</h1>
		<p>This is a simple Astro page created using Astro framework.</p>
	</body>
</astro>