---
title: "My Astro Page"
---

<astro>
	<head>
		<title>{"Welcome to astro"}</title>
	</head>

	<body>
		<a href="/" target="_blank">Home</a>
		<a href="/about" target="_blank">About</a>
		<a href="/blog" target="_blank">Blog</a>
		<h1>Welcome to my Astro Page!</h1>
		<p>This is a simple Astro page created using Astro framework.</p>
	</body>
</astro>